policy_module(pulpcore_port, 1.1.1)

gen_require(`
    attribute port_type;
    attribute defined_port_type;
    attribute unreserved_port_type;
')

type pulpcore_port_t, port_type, defined_port_type, unreserved_port_type;
