policy_module(pulpcore, 2.1.0)

require {
	type httpd_config_t;
	class dir search;
}

########################################
#
# Declarations
#

type pulpcore_t;
type pulpcore_exec_t;
init_daemon_domain(pulpcore_t, pulpcore_exec_t)
init_nnp_daemon_domain(pulpcore_t)
permissive pulpcore_t;

type pulpcore_server_t;
type pulpcore_server_exec_t;
init_daemon_domain(pulpcore_server_t, pulpcore_server_exec_t)
init_nnp_daemon_domain(pulpcore_server_t)
permissive pulpcore_server_t;

type pulpcore_etc_t;
files_config_file(pulpcore_etc_t)

type pulpcore_log_t;
logging_log_file(pulpcore_log_t)

type pulpcore_var_lib_t;
files_type(pulpcore_var_lib_t)
type pulpcore_server_var_lib_t;
files_type(pulpcore_server_var_lib_t)

type pulpcore_var_run_t;
files_pid_file(pulpcore_var_run_t)
type pulpcore_server_var_run_t;
files_pid_file(pulpcore_server_var_run_t)

type pulpcore_tmp_t;
files_tmp_file(pulpcore_tmp_t)
type pulpcore_server_tmp_t;
files_tmp_file(pulpcore_server_tmp_t)

type pulpcore_server_tmpfs_t;
files_tmpfs_file(pulpcore_server_tmpfs_t);

########################################
#
# pulpcore/pulpcore_server local policy
#
allow pulpcore_t pulpcore_server_exec_t:file getattr;
allow pulpcore_server_t pulpcore_exec_t:file getattr;

allow pulpcore_server_t self:fifo_file rw_fifo_file_perms;
allow pulpcore_server_t self:unix_stream_socket create_stream_socket_perms;
allow pulpcore_server_t self:netlink_route_socket { create_socket_perms nlmsg_read };
allow pulpcore_server_t self:tcp_socket create_stream_socket_perms;
allow pulpcore_server_t self:udp_socket create_stream_socket_perms;

# /etc
read_files_pattern(pulpcore_t, pulpcore_etc_t, pulpcore_etc_t)
read_files_pattern(pulpcore_server_t, pulpcore_etc_t, pulpcore_etc_t)

# Allow aiodns/pycares (used by pulpcore) to watch /etc directory for resolver configuration changes
files_watch_etc_dirs(pulpcore_t)
files_watch_etc_dirs(pulpcore_server_t)

# /var/lib
manage_dirs_pattern(pulpcore_t, pulpcore_var_lib_t, pulpcore_var_lib_t)
manage_files_pattern(pulpcore_t, pulpcore_var_lib_t, pulpcore_var_lib_t)
manage_lnk_files_pattern(pulpcore_t, pulpcore_var_lib_t, pulpcore_var_lib_t)

manage_dirs_pattern(pulpcore_server_t, pulpcore_server_var_lib_t, pulpcore_server_var_lib_t)
manage_files_pattern(pulpcore_server_t, pulpcore_server_var_lib_t, pulpcore_server_var_lib_t)
 
manage_dirs_pattern(pulpcore_t, pulpcore_server_var_lib_t, pulpcore_server_var_lib_t)
manage_files_pattern(pulpcore_t, pulpcore_server_var_lib_t, pulpcore_server_var_lib_t)

filetrans_pattern(pulpcore_server_t, pulpcore_var_lib_t, pulpcore_server_var_lib_t, { dir file })
manage_dirs_pattern(pulpcore_server_t, pulpcore_var_lib_t, pulpcore_var_lib_t)
manage_files_pattern(pulpcore_server_t, pulpcore_var_lib_t, pulpcore_var_lib_t)
read_lnk_files_pattern(pulpcore_server_t, pulpcore_var_lib_t, pulpcore_var_lib_t)
write_sock_files_pattern(pulpcore_t, pulpcore_var_lib_t, pulpcore_var_lib_t)

# /var/log
append_files_pattern(pulpcore_t, pulpcore_log_t, pulpcore_log_t)
append_files_pattern(pulpcore_server_t, pulpcore_log_t, pulpcore_log_t)

# /run
manage_dirs_pattern(pulpcore_t, pulpcore_var_run_t, pulpcore_var_run_t)
manage_files_pattern(pulpcore_t, pulpcore_var_run_t, pulpcore_var_run_t)
files_pid_filetrans(pulpcore_t, pulpcore_var_run_t, { dir file sock_file})

manage_dirs_pattern(pulpcore_server_t, pulpcore_server_var_run_t, pulpcore_server_var_run_t)
manage_files_pattern(pulpcore_server_t, pulpcore_server_var_run_t, pulpcore_server_var_run_t)
manage_sock_files_pattern(pulpcore_server_t, pulpcore_server_var_run_t, pulpcore_server_var_run_t)
files_pid_filetrans(pulpcore_server_t, pulpcore_server_var_run_t, { dir file sock_file})

# /tmp
manage_dirs_pattern(pulpcore_t, pulpcore_tmp_t, pulpcore_tmp_t)
manage_files_pattern(pulpcore_t, pulpcore_tmp_t, pulpcore_tmp_t)
manage_lnk_files_pattern(pulpcore_t, pulpcore_tmp_t, pulpcore_tmp_t)
files_tmp_filetrans(pulpcore_t, pulpcore_tmp_t, { file dir })

manage_dirs_pattern(pulpcore_server_t, pulpcore_server_tmp_t, pulpcore_server_tmp_t)
manage_files_pattern(pulpcore_server_t, pulpcore_server_tmp_t, pulpcore_server_tmp_t)
files_tmp_filetrans(pulpcore_server_t, pulpcore_server_tmp_t, { file dir })

# /dev/shm
manage_files_pattern(pulpcore_t, pulpcore_server_tmpfs_t, pulpcore_server_tmpfs_t)
fs_tmpfs_filetrans(pulpcore_t, pulpcore_server_tmpfs_t, file )
allow pulpcore_t pulpcore_server_tmpfs_t:file map;

# interface calls

# Needed for systemd Type=notify support
# Needed when /run/systemd/notify is not appropriately labelled (at least on
# EL7) as kernel_t rather than init_var_run_t
kernel_dgram_send(pulpcore_server_t)

kernel_read_all_proc(pulpcore_t)
kernel_read_all_proc(pulpcore_server_t)

auth_use_nsswitch(pulpcore_server_t)
auth_use_nsswitch(pulpcore_t)

can_exec(pulpcore_t, pulpcore_var_lib_t)

corecmd_exec_bin(pulpcore_t)
corecmd_exec_shell(pulpcore_t)
corecmd_exec_bin(pulpcore_server_t)
corecmd_exec_shell(pulpcore_server_t)

corenet_tcp_connect_http_cache_port(pulpcore_t)
corenet_tcp_connect_http_port(pulpcore_t)
corenet_tcp_connect_postgresql_port(pulpcore_t)
corenet_tcp_connect_pulpcore_port(pulpcore_t)
corenet_tcp_connect_redis_port(pulpcore_t)
corenet_tcp_connect_squid_port(pulpcore_t)
corenet_tcp_bind_pulpcore_port(pulpcore_server_t)
corenet_tcp_connect_http_cache_port(pulpcore_server_t)
corenet_tcp_connect_http_port(pulpcore_server_t)
corenet_tcp_connect_postgresql_port(pulpcore_server_t)
corenet_tcp_connect_redis_port(pulpcore_server_t)
corenet_tcp_connect_squid_port(pulpcore_server_t)

fs_getattr_tmpfs(pulpcore_t)
fs_getattr_xattr_fs(pulpcore_t)
fs_getattr_xattr_fs(pulpcore_server_t)

libs_exec_ldconfig(pulpcore_t)
libs_exec_ldconfig(pulpcore_server_t)

# Block needed for systemd Type=notify support
init_write_pid_socket(pulpcore_server_t)
# This line is used when /run/systemd/notify is appropriately labelled
allow pulpcore_server_t init_var_run_t:unix_dgram_socket { connect create };
allow pulpcore_server_t self:unix_dgram_socket { connect create };
# This line is used when /run/systemd/notify is appropriately labelled
# Need verification that it is actually needed though. I think I observed
# it on a test EL7 system after fixing the labelling.
allow kernel_t init_var_run_t:unix_dgram_socket sendto;

miscfiles_read_generic_certs(pulpcore_t)

sysnet_read_config(pulpcore_t)

# Attempts to read the non-existent /etc/httpd/mime.types with Katello on EL7
# Occurs whenever mailcap isn't installed, which would provide /etc/mime.types
# dontaudit pulpcore_server_t httpd_config_t:dir search;
#
# Instead of just doing that, we have this broader config to allow both pulp
# contexts to be able to read the new pulp certs and keys under /etc/pulp/certs
apache_search_config(pulpcore_t)
apache_search_config(pulpcore_server_t)
allow pulpcore_t httpd_config_t:dir read;
allow pulpcore_server_t httpd_config_t:dir read;

# This allows API/Content to read the kernel keyring for the worker process.
allow pulpcore_server_t pulpcore_t:key { read view };
# And the inverse.
allow pulpcore_t pulpcore_server_t:key { read view };

# This allows libostree (as used by pulpcore-worker in pulpcore_t) to log
kernel_dgram_send(pulpcore_t)
logging_write_syslog_pid_socket(pulpcore_t)
allow pulpcore_t self:unix_dgram_socket { create getopt setopt };

optional_policy(`
        gpg_exec(pulpcore_t)
        gpg_exec(pulpcore_server_t)
')

optional_policy(`
	kerberos_read_keytab(pulpcore_t)
	kerberos_read_keytab(pulpcore_server_t)
')

optional_policy(`
	postgresql_stream_connect(pulpcore_t)
	postgresql_stream_connect(pulpcore_server_t)
')

optional_policy(`
	redis_stream_connect(pulpcore_t)
	redis_stream_connect(pulpcore_server_t)
')

optional_policy(`
	unconfined_stream_connect(pulpcore_t)
')

########################################
#
# Local policy for external domains
#

optional_policy(`
	gen_require(`
		type httpd_t;
	')

	pulpcore_server_stream_connect(httpd_t)
')

optional_policy(`
	gen_require(`
		type init_t;
	')

	pulpcore_filetrans_named_content(init_t)
')
